<!-- Formatted for Twitter Bootstrap http://twitter.github.com/bootstrap/ --> 
<div class="container">
	<div class="hero-unit">
		<h1>Updating drop down example</h1>
		<p>A simple example of using ajax to load data into a drop-down when a value is selected.</p>
		<p>Source code available at <a target="_blank" href="https://github.com/trogrey121/updating-drop-down">https://github.com/trogrey121/updating-drop-down</a></p>
		<h3>-Christian Reyes</h3>
	</div>
	<div class="row">
		<div class="span8 offset4">
			<form class="survey">
				<fieldset>
					<legend>Favorite Character Survey</legend>
					<div class="clearfix">
						<label>Movie:</label>
						<div class="input movies">
							<%= collection_select(:survey, :movie_id, @movies, :id, :name, {:prompt => "Select a movie"})%>
						</div>
					</div>
					<div class="clearfix">
						<label>Character</label>
						<div class="input characters">
							<select>
								<option></option>
							</select>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div >